<section class="bg-primary" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h2 class="section-heading">I am Clay Wilson</h2>
        <hr class="light" />
        <p class="text-faded">
          I like to think of myself as a consumer turned creator.
        </p>
        <p class="text-faded">
          I used to admire other artists' work and wish I could do cool things
          too.
        </p>
        <p class="text-faded">So I did</p>
        <p class="text-faded">
          Now with years of experience in creative design and fabrication it's
          time to help others with their creative visions
        </p>
        <p class="text-faded">
          Do you have a project you need brought to life?
        </p>
        <a href="#contact" class="btn btn-default btn-xl"
          >Lets make it happen</a
        >
      </div>
    </div>
  </div>
</section>
